@model ExpenceManagement.Models.Expenses

@{
    ViewBag.Title = "Edit";
}

<div style="font-family:Arial">
    <h2>Expenses Edit</h2>

    @using (Html.BeginForm(method: FormMethod.Post))
    {
        @Html.ValidationSummary(true)


        <fieldset>
            <div class="row">
                <div class="col-3">
                    <div class="editor-label">
                        @Html.LabelFor(Model => Model.Id)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(Model => Model.Id, new { @class="form-control" })
                        @Html.ValidationMessageFor(Model => Model.Id)
                    </div>
                </div>

                <div class="col-3">
                    <div class="editor-label">
                        @Html.LabelFor(Model => Model.Date)
                    </div>
                    <div class="editor-field">
                        <input type="datetime" name="date" class="form-control" value="@Model.Date.ToString("dd-MMM-yyyy")" />
                        @Html.ValidationMessageFor(Model => Model.Date)
                    </div>
                </div>

                <div class="col-3">
                    <div class="editor-label">
                        @Html.LabelFor(Model => Model.Details)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(Model => Model.Details, new {@class="form-control"})
                        @Html.ValidationMessageFor(Model => Model.Details)
                    </div>
                </div>

                <div class="col-3">
                    <div class="editor-label">
                        @Html.LabelFor(Model => Model.Remarks)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(Model => Model.Remarks, new {@class="form-control"})
                        @Html.ValidationMessageFor(Model => Model.Remarks)
                    </div>
                </div>

                <div class="col-3">
                    <div class="editor-label">
                        @Html.LabelFor(Model => Model.Amount)
                    </div>
                    <div class="editor-field">
                        <input type="number" name="Amount" class="form-control" value="@Model.Amount" />
                        @Html.ValidationMessageFor(Model => Model.Amount)
                    </div>
                </div>

                <div class="col-3" style="padding-top:22px">
                    <input type="submit" value="Update" class="btn btn-outline-success"/>
                </div>
            </div>
        </fieldset>

    }

</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
