@model ExpenceManagement.Models.Account

@{
    ViewBag.Title = "New Create";
}

<h2>New Create</h2>

<script>
    function Account() {
        var Ban = document.getElementById("BankName").value;
        var error = "";
        if (Ban.length === 0) {
            error = "Enter Bank name"
        }

        var Acco = document.getElementById("AccountNumber").value;
        if (Acco.length === 0) {
            error += "\nEnter Your Account Number";
        }

        var Amo = document.getElementById("Amount").value;
        if (Amo.length === 0) {
            error += "\nEnter Your Item Amount";
        }
        if (error.length > 0) {
            alert(error)
            return false;
        }
        return true;
    }
</script>

<div style="font-family:Arial">

    @using (Html.BeginForm(method: FormMethod.Post))
    {
        @Html.ValidationSummary(true)


        <fieldset>
            <div class="row">
                <div class="col-3">
                    <div class="editor-label">
                        @Html.LabelFor(Model => Model.BankName)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(Model => Model.BankName, new { @class="form-control",id="BankName", placeholder="Enter BankName"})
                        @Html.ValidationMessageFor(Model => Model.BankName)
                    </div>
                </div>

                <div class="col-3">
                    <div class="editor-label">
                        @Html.LabelFor(Model => Model.AccountNumber)
                    </div>
                    <div class="editor-field">
                       <input type="number" name="AccountNumber"id="AccountNumber" placeholder="Enter AccountNumber" class="form-control"/>
                        @Html.ValidationMessageFor(Model => Model.AccountNumber)
                    </div>
                </div>



                <div class="col-3">
                    <div class="editor-label">
                        @Html.LabelFor(Model => Model.Amount)
                    </div>
                    <div class="editor-field">
                        <input type="number" name="Amount" id="Amount" placeholder="Enter Amount" class="form-control" />
                        @Html.ValidationMessageFor(Model => Model.Amount)
                    </div>
                </div>




                    <div class="col-3" style="padding-top:22px">
                        <input type="submit" value="Create" class="btn btn-success" onclick="return Account()" />
                    </div>
            </div>
        </fieldset>

    }

</div>
